ENV=devel                               # ENV can be devel or prod. DO NOT USE prod in local environment

POSTGRES_PASSWORD=postgres              # password for the database
POSTGRES_DB=db_name                     # database name for the application
POSTGRES_USER=postgres                  # database user

DATABASE_HOST=waracle_cake_postgres     # the host with the database (mostly it is localhost or docker container name
                                        # (see docker-compose.yml file)
DATABASE_NAME=db_name                   # database name for the application - must be the same as POSTGRES_DB
DATABASE_PORT=5432                      # by default 5432 for PostgreSQL and 3306 for MySQL
DATABASE_USER=postgres                  # database user the same as POSTGRES_USER
DATABASE_PASSWORD=postgres              # password for the database the same as POSTGRES_PASSWORD

ALLOWED_HOSTS=*                         # asterisk means that there is no restriction for connecting to the
                                        # application server. Use it only for development!

SECRET_KEY="change_me"                  # django application secret key - please use something complicated
